body {
  margin: 0;
  padding: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  overflow: hidden;
}

.background {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('/Users/apple/Documents/GitHub/Project1/client-side/public/images/First-Image1.jpg');
  background-size: cover;
  background-position: center;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  text-align: left;
  color: white;
  padding-left: 5rem;
}

.title {
  font-size: 80px;
  margin-bottom: 2px;
  text-align: left;
  max-width: 80%;
  line-height: 1.2;
}


.subtitle {
  font-size: 25px;
  padding-bottom: 200px;
  font-weight: lighter;
  margin-bottom: 2rem;
}

.explore-boxes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -50px;
  
}

.explore-box {
  flex-grow: 1;
  margin: 0 10px;
  padding: 10px 20px;
  border-color: #ff7200;
  background-color: #ff730046;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}

.explore-box:first-child {
  background-color: #ff7200;
}

.explore-box:nth-child(2):hover {
  background-color: #ff7b00; 
  color: rgb(255, 255, 255); 
}

.explore-box a {
  text-decoration: none;
  color: inherit; 
}

.explore-box:hover {
  background-color: #ff73003a; 
  color: rgb(255, 255, 255); 
}