* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('/Users/mac/Documents/GitHub/Project1/client-side/public/images/First Image1.jpg'); 
  /* CHANGE IT TO YOUR LOCAL MACHINE NAME {REPLACE 'MAC'} */
}

