.maindiv1 {
    width: 100%;
    display: flex;
  }
  
  .subdiv1 {
    padding-left: 10em;
    width: 50%;
  }
  .subdiv2 {
    padding-right: 10em;
    width: 50%;
  }

  .button {
    
      font-size: 20px;
      font-weight: bold;
      transform: translateX(-11%);
      color: #ffffff;
      text-decoration: none;
      white-space: nowrap;
      background-color: #ff7200;
      padding: 7px;
      border-radius: 5px;
      cursor: pointer;
  
  }
  .error {
    color: #ff7200;
  }
  
  .description {
    
    width: 25.5%;
    margin: auto;
    text-align: left;
    padding: 10px;
    
    
    /* position: absolute;
    left: 5em; */
    
  }

  .upload-pane {
    flex: 1;
    margin-left: 20px;
    max-width: 50%;
    /* padding-top: 12%; */
  }


  .info-pane {
    flex: 1;
    margin-left: -2em;
    margin-top: -1.24em;
    margin-bottom: -6.9em;
    padding-top: 12%;
  
    /* Define the background animation */
    background: linear-gradient(135deg, #ff7200, #ffd700);
    background-size: 50% 10%; /* This is essential for the animation */
    animation: gradientAnimation 2s linear infinite;
  }

  .upload-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    height: 100%; /* Set height to 100vh to fill the viewport */
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .chosen-categories {
    margin-bottom: 10px;
  }

  @media screen and (max-width: 600px) {
    .maindiv1 {
      flex-direction: column; /* Change flex direction for mobile devices */
    }
  
    .subdiv1,
    .subdiv2 {
      padding: 0; /* Remove padding for mobile devices */
      width: 100%; /* Set width to 100% for mobile devices */
    }
  }
/* form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; } */


  
  